# Bundler
/.bundle/
/vendor/bundle/
Gemfile.lock

# RubyGems
*.gem
/pkg/

# Documentation
/doc/
/.yardoc/

# Test artifacts
/coverage/
/tmp/
/log/

# IDE
.idea/
*.swp
*.swo
*~
.vscode/

# macOS
.DS_Store

# Ruby
*.rbc
.byebug_history
